
<div class="scramble">
    <h1 style="color:white">SaddleBrooke Tennis Club's Scramble Management</h1>
</div>

<h3>STC Scramble</h3>

<h4>General Description</h4>
<ul>
    <li>Open to all who are STC members (A, B+, B, C+, and C)</li>
    <li>Program will only apply one time per month on <span><strong>???? - </strong></span> Organized Play Sessions.</li>
</ul>

<h4>Registering as an Scramble Player</h4>

<ul>
    <li>STC members wishing to participate in this program should notify the STC Coordinator. </li>
    <li>They will be coded with an "S" by the STC Coordinators in the Organized Play System. You will then notice an "S" next to your name in the member listing.</li>
    <li>A player wishing to withdraw from the Scramble program may do so at anytime by notifying the STC Coordinator to remove the “S” code from her name. The STC Coordinator will then notify the Scramble Monitors of the change in status.</li>
</ul>


<h4>Sign-Ups</h4>
<ul>
    <li>Log into the STC system and sign up as you would for any Organized Play session.</li>
    <li>You may not "link" with another player.</li>
    <li>Sign-Up <span><strong>CLOSES ???? AT MIDNIGHT</strong></span> for the ??? Late match so that Monitors can assign courts on ???.</li>
    <li>You can view your court assignments on ??? on the STC website for your ???? match.</li>
    <li>All players, both OP and Scramble, will be assigned matches, as usual, by the order in which they sign up with no priority given to one group or the other.</li>
</ul>


<h4>Matches</h4>
<ul>
    <li>Court assignment is based on the court you played on last week, and the players with whom you played last week.</li>
    <li>STC will post the court assignments as usual.</li>
    <li>If all players on the court wish to play beyond the 2 hour Scramble window, and if the court is available, you are welcome to do so, but normally play ends at the 2 hour window.</li>
</ul>
<br />
<p><a class="btn btn-primary" target="_blank" href="http://saddlebrooketennisclub.net/?page_id=10">STC Sign Up For Scramble</a></p>
